<zoom-page-template>
    <ng-container zoomHeader>
        <zoom-header raetId="zoomHeader">
        <app-navigation platformName></app-navigation>
        <img src="assets/img/yourLogo.png" logo alt="" />
        <span subBarText>Hi!</span>
        </zoom-header>
    </ng-container>
  
    <ng-container zoomMain>
        <router-outlet></router-outlet>
    </ng-container>
  
    <ng-container zoomFooter>
        <zoom-footer raetId="zoomFooter">
        Responsible disclosure policy
        </zoom-footer>
    </ng-container>
  </zoom-page-template>
